* {
  margin: 0px;
}

.myForm {
  margin-top: 20px;
  height: 400px;
  width: 600px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid grey;
}

.myResultsDisplay {
  margin: 10px auto;
}

i {
  vertical-align: bottom;
}

.italic {
  font-style: italic;
}

.selected-page {
  background-color: teal;
  border-radius: 2px;
}

#add-user-button {
  margin: 20px;
}

/*userProfile.ejs*/

.top-row {
  margin: 10px;
}

#new-post {
  margin: 20px auto;
  width: 500px;
}

.user-posts {
  height: 550px;
  width: 1300px;
  margin: 30px auto;
  border: 1px solid grey;
  border-radius: 10px;
}

.user-posts-content {
  height: 500px;
  width: 1270px;
  margin: 5px auto;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  justify-content: center;
}

.user-individual-post {
  flex: 0 0 auto;
  height: 150px;
  width: 300px;
  border-radius: 10px;
  margin: 5px;
  display: inline-block;
  overflow-y: scroll;
  color: white;
}

#comment-icon {
  margin-top: 5px;
}

#content {
  padding-top: 50px;
  height: 115px;
  width: 100%;
  justify-content: center;
  border-bottom: 1px solid white;
}

.comment-modal {
  height: 300px;
}

.enter-comment {
  margin: 100px auto;
}
