* {
  margin: 0px;
}

.myForm {
  margin-top: 20px;
  height: 400px;
  width: 600px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid grey;
}

.myResultsDisplay {
  margin: 10px auto;
}

i {
  vertical-align: bottom;
}

.italic {
  font-style: italic;
}

.selected-page {
  background-color: teal;
  border-radius: 2px;
}

#add-user-button {
  margin: 20px;
}

#go-back-button {
  margin: 10px;
}
